## APP
NODE_ENV=example
PORT=9999

## SUPABASE
SUPABASE_URL=https://xoongeoadwkgjiwlumfw.supabase.co
# Para requests normales (simula frontend) (AKA: CLIENT)
SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
# Para backend (acceso total) (AKA: ADMIN)
SUPABASE_SECRET_KEY=sb_secret_...